/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 img{
   width: 100px;
   height: 100px;
 }

 #logo h1{
   -webkit-margin-before: 0;
   -webkit-margin-after: 0;
   // padding-top: 40px;
   text-align: center;
   font-size: 40px;
   display: inline;
   color: green;
 }

#logout_button{
  /*float: right;*/
  width: 6%;
  background-color: #3F51B5;
  /*margin-right: 10px;*/
  /*display: block;*/
  color: white;
  /*margin-left: 15%;
  margin-bottom: 10px;
  margin-top: 5px;*/
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: small;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 5px;
  position: fixed;
  top: 15px;
  right: 15px;
}
