#donor_container{
  margin-left: 30px;
  margin-right: 30px;
}
#donation_errors{
  color: red;
  font-size: 20px;
  margin-left: 20px;
}

p{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: lighter;
  padding-left: 20px;
  margin-bottom: 10px;
}

#amtbal{
  font-size: 20px;
  padding-left: 20px;
}

#donor_container h2{
  text-align: center;
  -webkit-margin-after: 0;
  margin-top: 45px;
}

#donor_container table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    padding-left: 10px;
    border: solid;
    border-color: lightgray;
    border-width: thin;
    margin-bottom: 5%;
    margin-top: 5px;
}

#donor_container th, #donor_container td {
    text-align: left;
    padding: 8px;
    font-weight: lighter;
    font-size: 15px;
}

#charitytable_ben_name{
  width: 16%;
}
#charitytable_charity{
  width: 25%;
}

#charitytable_charitable_cause{
  width: 35%
}

#charitytable_amt_needed, #charitytable_amt_raised{
  width: 7%
}

#donationtable_ben_name{
  width: 30%;
}

#donationtable_email{
  width: 30%;
}

#donationtable_charity{
  width: 30%;
}

#donationtable_charitable_cause{
  width: 30%
}

#donationtable_amt_needed, #donationtable_amt_raised, #donationtable_amt_donated{
  width: 10%
}

#donationtable_date{
  width: 10%
}

//Change background color to lightgrey when hover over table elements
tr:nth-child(even){background-color: #f2f2f2}
tr:hover{background-color:lightgrey}

th {
  background-color: rgba(243, 109, 67, 0.78);
  color: white;
}

#donate_amt{
  font-size: 15px;
  width: 40%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: lighter;
}

#donate{
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

@media only screen and (max-width: 1630px){
  #charitytable_ben_name_td, #charitytable_charity_td, #charitytable_charitable_cause_td{
    word-break: break-all;
  }

  #donationtable_ben_name{
    width: 20%;
  }

  #donationtable_email_td{
    word-break: break-all;
  }
}

@media only screen and (max-width: 1450px){
  #donationtable_email{
    width: 25%;
  }
}

@media only screen and (max-width: 1330px){
  #donationtable_ben_name{
    width: 18%;
  }

  #donationtable_ben_name_td{
    word-break: break-all;
  }

  #donationtable_date_td{
    word-break: break-all;
  }
}
